* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: linear-gradient( rgb(0, 217, 255), white);
    
}
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
nav {
    padding: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    flex-direction: row;
    top: 0;
    z-index: 11;
    list-style: none;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
#menu {
    font-size: 1rem;
    border: 0;
    background: none;
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 10;
}
#menu::before {
    content: "☰";
    font-size: 1.5rem;
}
#menu.open::before {
    content: "❎";
}
.navigation {
    display: none;
    position: fixed;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    z-index: 9;
    text-align: center;
    justify-content: center;
    align-self: center;
    color: white;
    height: 100vh;
    background-color: rgb(53, 53, 53);
}
.navigation a {
    display: flex;
    position: relative;
    padding: 1.5rem;
    text-decoration: none;
    color: white;
    width: 100%;
}
.navigation a:hover {
    background-color: rgb(97, 99, 99);
    color: white;
    width: auto;
}
.navigation.hide {
    display: none;
}
.navigation.show {
    display: flex;
    background-color: rgb(56, 56, 56);
    height: auto;
}
footer {
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    z-index: 11;
    background-image: linear-gradient( rgb(39, 195, 243), white);
}
.logo {
    text-align: center;
    padding-top: -100px;
}
.logo h1 {
    font-size: 36px;
    font-family: "Jaini", sans-serif;
}

.hero {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    height: auto;
}
.hero img {
    width: 90%;
    height: auto;
    padding-top: 50px;
    background-color: #fff;
    padding: 1rem;
    box-shadow: rgba(0,0,0,0.08) 0px 4px 12px; 
}
.hero h1 {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Jaini", sans-serif;
    font-size: 28px;
    text-align: center;
    z-index: 10;
}
#rent {
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: auto;
    font-family: "Ubuntu", sans-serif;
    box-shadow: 0 10px 10px 5px rgba(59, 58, 58, 0.5);
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: rgb(0, 217, 255);
    color: black;
    top: 20%;
    left: 50%;
    z-index: 9;
}
.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
}
.container-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

}
.summaryRentals {
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    width: 90%;
    box-shadow: rgba(24, 24, 24, 0.637) 0px 4px 12px;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin: 0 auto;
}
.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    padding: 0;
    text-align: center;
    box-shadow: rgba(24, 24, 24, 0.637) 0px 4px 12px;
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
}
.rentals {
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 90px 10px 10px 10px;
    text-align: center;
    box-shadow: rgba(24, 24, 24, 0.637) 0px 4px 12px;
    font-size: 0.75rem;
    font-family: "Ubuntu", sans-serif;
}
.rentals section {
    border: 1px solid #ccc;
    border-radius: 5px;
    gap: 20px;
    display: inline-block;
    margin: 10px;
    font-size: 1.25rem;
}
.reservations {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    padding-left: 20px;
}
.reservation-form {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}
.reservation fieldset {
    margin: 2rem 0;
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 0.5rem 2%;
    width: 100%;
}
.reservation label {
    display: block;
    padding-top: 1rem;
    font-size: 1.25rem;
}
