* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: linear-gradient( rgb(0, 217, 255), white);
    
}
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
nav {
    padding: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    flex-direction: row;
    top: 0;
    z-index: 11;
    list-style: none;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}
#menu {
    font-size: 1rem;
    border: 0;
    background: none;
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 10;
}
#menu::before {
    content: "☰";
    font-size: 1.5rem;
}
#menu.open::before {
    content: "❎";
}
.navigation {
    display: none;
    position: fixed;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    z-index: 9;
    text-align: center;
    justify-content: center;
    align-self: center;
    color: white;
    height: 100vh;
    background-color: rgb(53, 53, 53);
}
.navigation a {
    display: flex;
    position: relative;
    padding: 1.5rem;
    text-decoration: none;
    color: white;
    width: 100%;
}
.navigation a:hover {
    background-color: rgb(97, 99, 99);
    color: white;
    width: auto;
}
.navigation.hide {
    display: none;
}
.navigation.show {
    display: flex;
    background-color: rgb(56, 56, 56);
    height: auto;
}
.logo {
    text-align: center;
    padding-top: -100px;
}
.logo h1 {
    font-size: 36px;
    font-family: "Jaini", sans-serif;
}

.hero {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    height: auto;
}
.hero img {
    width: 90%;
    height: auto;
    padding-top: 50px;
}
.hero h1 {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Jaini", sans-serif;
    font-size: 45px;
    text-align: center;
    z-index: 10;
}
.rent {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    height: auto;
}
footer {
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    z-index: 11;
    background-image: linear-gradient( rgb(39, 195, 243), white);
}