@media screen and (min-width: 37.5em) {
    .logo h1 {
        font-size: 56px;
    }
    nav a{
        font-size: 24px;
        display: flexbox !important;
        flex-direction: row;
    }
    nav a:hover {
        background-color: aquamarine;
    }
    .hero img {
        width: 100%;
        height: auto;
    }
    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
        top: 10%;
        height: 150px;
       }
       nav a {
           margin: 0 20px;
           color: darkred
           font-size: 1.5rem;
       }
}