@media screen and (min-width: 37.5em)
{
    body{
        margin: 0;
        padding: 0;
        font-family: 'Nunito', sans-serif;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1 fr auto 1fr 1fr 1fr ;
    }
    header{
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: red;
        color:black;
        padding: 0;
        margin: 0;
    }
    header img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    header h1{
        grid-column: 2/3;
        text-align: left;
        justify-content: right;
        font-size: 2rem;
        margin: 0;
        padding-right: 30px;
    }
    #menu{
        display: none;
    }
    .navigation{
        display: flex !important;
        flex-direction: row;
        height: auto;
        position: relative;
        object-fit: cover;
        width: 100%;
        padding-bottom: 10px;
    }
    .ul.navigation.hide{
        display: none;
        height: auto;
        grid-row: 2/3;
    }
    nav li{
        color: black;
        font-size: 1.5rem;
    }
    .navigation a:hover{
        background-color: rgb(190, 170, 51);
    }
    .imageofrichfield img{
        width: 100%;
        height: 500px;
        object-fit: cover;
        display: block;
        margin:  0px auto;
        grid-row: 3/4;
    }
    main{
        grid-row: 4/5;
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        gap: 0 5px;
        background-color: wheat;
    }
    .imageofrichfield{
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .weather {
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .postings {
        display: grid;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .business{
        display: grid;
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .highlight{
        display: grid;
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .postings, .business, .highlight{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr;
        justify-items: center;
        align-items: start;
        padding: 10px;
    }
    .postings h2, .business h2, .highlight h2{
        padding: 10px;
        font-family: 'Smooch Sans', sans-serif;
        margin: 0;
        font-size: 3rem;
        grid-row: 1/2;
    }
    .postings p, .business p, .highlight p{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        grid-row: 2/3;
    }
    .postings ul, .business ul, .highlight ul{
        font-size: 2rem;
        font-family: 'Nunito';
        text-align: left;
        grid-row: 3/4;
        margin: 0;
        padding: 10px;
    }
    .postings li, .business li, .highlight li{
        padding: 5px 0;
        margin: 0;
    }
 footer{
    grid-row: 5/6;
 }
    
}