@media screen and (min-width: 37.5em){
    body{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 250px 1fr 1fr 1fr 1fr;
        background-color: wheat;
        margin: 0;
    }
    header{
        grid-column: 1/4;
        margin: 0 auto;
        word-wrap: break-word;
        padding-top: 50px;
        width: 100%;
        height: 200px;
    }
    header img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    header h1{
        font-size: 4rem;
    }
    #menu{
        display: none;
    }
    .navigation{
        display: flex !important;
        flex-direction: row;
        width: 100%;
        height: 50px;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0;
        margin: 0;
        background-color: black;
        gap: 50px;
    }

    .navigation a{
        margin: 0 20px;
        color: white;
        font-size: 1.5rem;
    }
    .navigation a:hover{
        background-color: rgb(190, 170, 51);
    }
    .imageofrichfield{
        grid-column: 1/5;
        grid-row: 1/2;
    }

    main{
        grid-column: 1/4;
        grid-row: 2/5;
        background-color: wheat;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
        width: auto;
    }
    .hero {
        grid-column: 1/5;
        grid-row: 1/2;
    }

    .hero img {
        width: 100%;
        height: 100%;
        grid-row: 1/2;
        grid-column: 1/2;
        padding: 0;
        margin: 0;
    }
    .hero h1{
        top: 60%;
        left: 70%;
        font-size: 2rem;
        padding: 10px;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
        display: block;
    }
    .postings {
        display: flex;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .business{
        display: flex;
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .highlight{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .postings, .business, .highlight{
        justify-items: center;
        align-items: start;
        padding: 10px;
    }
    .postings h2, .business h2, .highlight h2{
        padding: 10px;
        font-family: 'Smooch Sans', sans-serif;
        margin: 0;
        font-size: 3rem;
    }
    .postings p, .business p, .highlight p{
        font-family: 'Nunito', sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .postings ul, .business ul, .highlight ul{
        font-size: 2rem;
        font-family: 'Nunito';
        text-align: left;
        margin: 0;
        padding: 10px;
    }
    .postings li, .business li, .highlight li{
        padding: 5px 0;
        margin: 0;
    }
    footer{
        height: 50px;
    }
    main .discover  {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        gap: 20px;
        
    }
    .side-bar {
        grid-column: 1/2;
        background-color: wheat;
        text-align: center;
        padding: 20px;
        border: 2px solid black;
    }
    #side-bar {
        width: 80%;
        text-align: left;
    }
    #calendar{
        margin: 0 auto;
        text-align: center;
    }
    .imagesofrichfield {
        width: 300px;
        height: auto;
        padding: 0;
        margin: 0;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mf1 fieldset {
        margin: 2rem 0;
        border: 1px solid lightgrey;
        border-radius: 6px;
        padding: 0.5rem 2%;
        width: 96%;
    }
    .mf1 legend {
        color: rgb(107, 107, 250);
        padding: 0 .5rem;
        font-size: 20px;
    }
    .mf1 label {
        display: block;
        padding-top: 1rem;
        color: red;
        font-size: 0.9rem;
    }
    .mf1 input[type="text"],
    .mf1 input[type="email"],
    .mf1 input[type="tel"],
    .mf1 input[type="phone"] {
        display: block;
        width: 96%;
        border: 1px solid lightgrey;
        border-radius: 6px;
        padding: 0.75rem;
        color: gray;
    }
    .mf1 input[type="radio"] {
        margin-right: 6px;
    }
    #membershipapp {
        display: grid;
        grid-column: 1/2;
    }
    #descofmember {
        display: grid;
        grid-column: 2/3;
    }
}