@media screen and (min-width: 500px)
{
    body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    header img{
        grid-column: 1/2;
    }
    header h1{
        grid-column: 2/3;
    }
}