@media screen and (min-width: 37.5em) {
    body {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    }
    header {
        grid-column: 2/3;
        grid-row: 1/2;
        margin:0;
        word-wrap: break-word;
        padding-top: 30px;
    }

    h1 {
        font-size: 2rem;
    }
    #image-of-me{
        width: 100%;
        height: auto;
    }
    #menu {
        display: none;
    }

    .navigation {
        display: flex !important;
        flex-direction: row;
        width: 100%;
        height: 50px;
        background-color: rgb(26, 25, 25);
        border: solid 3px black;
        margin: 0;
        padding: 0;
        gap: 50px;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .navigation a {
        color: white;
        font-size: 1.5rem;
        background-color: rgb(26, 25, 25);
        height: 50px;
    }
    main{
        grid-column: 1/4;
        margin: 0;
        padding: 0;
        grid-row: 2/6;
    }
    .hero {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .hero img {
        width: 100%;
        height: 100%;
        grid-row: 1/2;
        grid-column: 1/2;
        padding: 0;
        margin: 0;
    }
    .hero h1{
        top: 60%;
        left: 70%;
        font-size: 2rem;
        padding: 10px;
        border: none;
    }

    #activities {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    #info {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    
    h3 {
        padding: 15px;
        border-radius: 5px;
    }

    .iframe {
        grid-column: 1/4;
        text-align: center;
    }

    footer {
        width: 100%;
        height: 60px;
        text-align: center;
        font-size: 14px;
        grid-column: 1/4;
        background-color: pink;
    }
    footer p, span{
        background-color: pink;
    }
}
